<header>
    <section class="logo">
        <a href="{{ '/' | url }}">
            <h1>{{ meta.title }}</h1>
            <h4>{{ meta.description }}</h4>
        </a>
    </section>
      {% include "navigation.njk" %}
</header>