<header>
    <section class="logo">
        <a href="{{ '/' | url }}">
            <h1>{{ meta.title }}</h1>
            <h3>{{ meta.description }}</h3>
        </a>
    </section>
      {% include "navigation.njk" %}
            {% include "nav.njk" %}

</header>