---
title: "עוד מחשבות על אודות"
pagination:
  data: tagSlugs.slugs
  size: 2
  alias: tag
  filter:
    - all
    - links
    - thoughts
    - tags
permalink: "thoughts/tags/{{ slugs.tagSlug }}/"
layout: "base"
---
<h2>{{ title }} {{ slugs.tagName }}</h2>
{% set tags = collections[ slugs.tagName ] %}
<section>
{% for thought in tags | reverse %}
    <a href="{{ thought.url | url }}"><h5>{{ thought.data.title }}</h5></a>
    <time>{{ thought.data.date }}</time>
{% endfor %}
</section>