<!DOCTYPE html>
<html dir="rtl" lang="{{ meta.lang }}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}" media="print" onload="this.media='all'">
  <title>{{ meta.title }} | {{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="icon" href="/assets/images/favicon.png" type="image/png" />
  <link rel="alternate" href="{{ meta.feedUrl }}" title="{{ meta.title }}" type="application/rss+xml" >
  <link rel="alternate" href="{{ meta.jsonFeedUrl }}" title="{{ meta.title }}" type="application/json" >
  <!-- Include Netlify Identity for authentication -->
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  
</head>
<body>
        {% include "header.njk" %}
    <main>
            {{ content | safe }}
    </main>
        {% include "footer.njk" %}
    <script>{% include "src/utils/search.js" %}</script>
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>
