---
layout: "base"
---
<article>
    <a href="{{ sourceUrl }}"><h2>&#8604; {{ title }}</h2></a>
       {{ content | safe }}
<p>
<cite>— <time datetime="{{ date }}">שועתק ב-{{ date }}</time> | מקור:  <a href="{{ sourceUrl }}">{{ sourceName }}</a></cite></p>
</article>
