{% macro linkPost(sourceUrl, title, content, date, sourceName) %}
<article class="links">
<a href="{{ sourceUrl }}"><h4>&#8604; {{ title }}</h4></a>
   {{ content | safe }}
<p>
<cite>— <time datetime="{{ date }}">שועתק ב-{{ date | fullDate }}</time> | מקור: <a href="{{ sourceUrl }}">{{ sourceName }}</a></cite></p>
</article>
{% endmacro %}