/*!
 * Air Freelance 3.0
 * Inspired by Writ v1.0.4 | Curtis McEnroe (2015) | https://cmcenroe.me (ISC)
 */

 html {
  line-height: 1.6rem;
  direction: rtl;
  font-family: Varela Round, system-ui, sans-serif;
}

/* Typography */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/varela-round-v12-latin_hebrew-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Miriam Libre';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/MiriamLibre-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, th { font-weight: normal; }

h1 { font-size: 2.488em; }
h2 { font-size: 2.074em; }
h3 { font-size: 1.728em; }
h4 { font-size: 1.44em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }
small { font-size: 0.833em; }
h1, h2, h3 { line-height: 3rem; }
h2 { border-top: 1px solid #888; }
p, ul, ol, dl, table, blockquote, h1, h2, h3, h4, h5, h6 { margin: 1rem 0 0; }
ul ul, ol ol, ul ol, ol ul { margin: 0; }
hr {
    border: 1px solid #888;
    border-bottom: 0px;
}

/* Colors */
body { color: #333; background: #f8f1eb; }
a, header nav a:visited { color: orangered; }
a:visited { color: #69b7ff; }
.logo, .logo a { color: olivedrab; }
thead, tfoot { background-color: #f0efed; }
mark { color: inherit; background-color: #fcc7d8; }
main aside, blockquote { border: solid rgb(201 204 194 / 0.26); }
th, td { border: solid #dbdbdb; }

/* Layout */
body { margin: 1rem 1ch; }

body > header { margin-bottom: 2em; }

header, main, body > footer {
  display: block; /* Just in case */
  max-width: 60ch;
  margin: auto;
}

main aside {
  float: left;
  margin: 1.5rem 1ch 0 0;
  max-width: 26ch;
  border-width: 0 0.5ch 0 0;
  padding: 0 0.5ch 0 0;
}

article { text-align: justify; }

footer {
  border-top: 1px dotted #333;
  text-align: end;
}

footer p {
  font-size: small;
  color: #999;
}

/* Header */
.logo {
  background: url(images/logo.png) no-repeat right;
  background-color: hsl(27.7deg 48.1% 94.7% / 60%);
  background-blend-mode: overlay;
  height: 130px;
  width: 100%;
  text-align: end;
}

.logo h4 { margin: 0.12em 0 0 0; }

/* Text blocks */
blockquote {
  border-width: 0 1.5ch 0 0;
  padding: 0 1ch 0 0;
  margin-inline-end: 3.5ch;
  margin-inline-start: 1.5ch;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 0.95rem;
}

p cite {
  font-style: normal;
  font-size: small;
}

time { font-size: small; }

.links {
  border-bottom: 1px solid #888;
  margin: 2em 0;
}

/* Media */
figure { margin: 1em 0; }

figcaption {
  font-size: small;
  margin: 0;
  border-bottom: 1px solid #888;
  padding: 0.5em;
  text-align: end;
}

img { max-width: 100%; }

header img { opacity: 60%; }

video, audio {
  max-width: 100%;
  height: auto;
}

/* Horizontal Gallery */

.infinity {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.infinity figure {
  flex: 0 0 auto;
  margin-inline-end: 0.5em;
  width: 220px;
}

.two-photos figure {
  flex: 0 0 auto;
  margin-inline-end: 0.5em;
  width: 295px;
}

.infinity img { border-radius: 5px; }

.infinity::-webkit-scrollbar { display: none; }

/* Lists */
ul, ol { padding: 0 3ch 0 0; }

ul > li { list-style-type: disc; }

li ul > li { list-style-type: circle; }

li li ul > li { list-style-type: square; }

ol > li { list-style-type: decimal-leading-zero; }

li ol > li { list-style-type: lower-roman; }

li li ol > li { list-style-type: lower-alpha; }

/* Nav */
nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-inline-start: 1ch;
  white-space: nowrap;
}

nav ul li:first-child { padding-inline-start: 0; }

.nav-item-current a { border-bottom: 1px solid orangered; }

nav ul li a:active { border-bottom: 1px solid orangered; }

nav ol > li{
  display: list-item;
  padding-inline-start: 0;
}

/* Copy inline */
a { text-decoration: none; }

mark { padding: 1px; }

/* Details and Summary */
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(201 204 194 / 0.26);
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}

summary {
  background-color: rgb(201 204 194 / 0.94);
  padding: 10px;
  margin: -10px -10px 0;
}

details[open] { padding: 10px; }

details > :not(summary) { margin-top: 0; }

details > :last-child { margin-bottom: 0; }

details[open] summary { margin-bottom: 10px; }

/* Search */

.search { padding-inline-start: 1ch; }

.search-str {
background: none;
border: none;
border-bottom: 1px solid #888;
font-size: inherit;
outline: none;
font: inherit;
color: #888;
width: 20%;
}

.invisible { display: none; }

.search-results {
  display: inline-grid;
  font-size: 0.9em;
  text-align: start;
  margin-inline-start: 0.5em;
}