/*!
 * Air Freelance 3.0
 * Inspired by Writ v1.0.4 | Curtis McEnroe (2015) | https://cmcenroe.me (ISC)
 */

 html {
  line-height: 1.6rem;
  direction: rtl;
  font-family: Varela Round, system-ui, sans-serif;
}

/* Typography */
@font-face {
  font-family: "Varela Round";
  font-display: swap;
  src: url("fonts/varela-round-v12-latin_hebrew-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Miriam Libre";
  font-display: swap;
  src: url("fonts/MiriamLibre-Regular.ttf") format("truetype");
}

h1, h2, h3, h4 { font-weight: normal; }
h1 { font-size: 2em; line-height: 3rem; }
h2 { margin: 0.5rem 0 1.5rem;}
p, h1, h3, h4 { margin: 1rem 0 0; }
hr {
    border: 1px solid #888;
    border-bottom: 0px;
}

/* Colors */
body { color: #333; background: #f8f1eb; }
a, header nav a:visited { color: orangered; }
a:visited { color: #69b7ff; }
.logo, .logo a { color: olivedrab; }
mark { color: inherit; background-color: #fcc7d8; }

/* Layout */
body {
  max-width: 60ch;
  margin: auto;
}

header { margin-bottom: 1.5em; }

main {
  border-top: 1px solid #888;
  border-bottom: 1px dotted #333;
}

aside {
  margin: 1.5em 5em 0 5em;
  text-align: center;
  font-size: small;
}

article { text-align: justify; }

footer {
  text-align: end;
  font-size: small;
  color: #888;
  margin: 1rem 0 0;
}

/* Logo */
.logo {
  background: url(images/logo.png) no-repeat right;
  background-color: hsl(27.7deg 48.1% 94.7% / 60%);
  background-blend-mode: overlay;
  height: 130px;
  width: 100%;
  text-align: end;
}

.logo h3 { margin: 0.12em 0 0 0; }

/* Text elements */
a { text-decoration: none; }

blockquote {
  border: none;
  border-inline-start: 1em solid rgb(201 204 194 / 0.26);
  padding: 0 0.5em 0 0;
  margin-inline-end: 2em;
  margin-inline-start: 1em;
  font: 0.95em/1.6em "Miriam Libre", sans-serif;
}

cite {
  font-style: normal;
  font-size: small;
}

time { font-size: small; }

.links {
  border-bottom: 1px solid #888;
  margin: 2em 0;
}

.links h3:before {
  content: "\00219C \00a0";
}

.links cite:before {
  content: "\2014  \00a0";
}

/* Media */
figure { margin: 1em 0; }

figcaption {
  font-size: small;
  border-bottom: 1px solid #888;
  padding: 0.5em;
  text-align: end;
}

img { max-width: 100%; border-radius: 5px; }

video, audio {
  max-width: 100%;
  height: auto;
}

/* Horizontal Gallery */
.infinity {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  margin: 0;
}

.infinity figure {
  flex: 0 0 auto;
  margin-inline-end: 0.5em;
  width: 220px;
}

.two-photos figure {
  flex: 0 0 auto;
  margin-inline-end: 0.5em;
  width: 295px;
}

.infinity::-webkit-scrollbar { display: none; }

/* Lists */

ul li { list-style-type: circle; }

ol li { list-style-type: decimal-leading-zero; }

/* Nav */
nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  padding-inline-start: 1ch;
}

nav ul li:first-child { padding-inline-start: 0; }

.nav-item-current a { border-bottom: 2px solid orangered; }

nav ul li a:active { border-bottom: 1px solid orangered; }

nav ol li{
  display: list-item;
  padding-inline-start: 0;
}

/* Search */

.search { padding-inline-start: 1ch; }

.search-str {
background: none;
border: none;
border-bottom: 1px solid #888;
outline: none;
font: inherit;
color: #888;
width: 20%;
}

.invisible { display: none; }

.show { box-shadow: -2px 5px 5px -2px rgba(0,0,0,0.1); }

.search-results {
/*  display: inline-grid;
  text-align: start;
  margin-inline-start: 0.5em;
*/
  font-size: 0.9em;
  display: block;
  background: #f8f1eb;
  padding: 0.5em 4em;
  position: absolute;
  margin: 0 13.7em 0 0;
  border-radius: 7px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .search-results {
    margin: 0;
  }
}
