---
permalink: /search.json
---
{"search" : [
{%- for thought in collections.thoughts | reverse -%}
  {
    "url" : "{{ thought.url }}",
    "title" : "{{ thought.data.title }}",
    "text" : "{{ thought.templateContent | squash }}"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}
