---
title: "עוד מחשבות על אודות"
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - links
    - thoughts
    - tags
permalink: "thoughts/tags/{{ tag }}/"
layout: "base"
---
<h2>{{ title }} {{ tag }}</h2>
{% set tags = collections[ tag ] %}
<section>
{% for thought in tags | reverse %}
    <a href="{{ thought.url | url }}"><h5>{{ thought.data.title }}</h5></a>
    <time>{{ thought.data.date }}</time>
{% endfor %}
</section>